/* Color section */
/* App Window */
@define-color bg_color rgba_color;
@define-color window_bg @bg_color;
@define-color window_border_color rgba_color;
@define-color prefs_background hex_color;

/* Input */
@define-color selected_bg_color hex_color;
@define-color selected_fg_color hex_color;
@define-color input_color hex_color;
@define-color caret_color darker(@input_color);

/* Result items */
@define-color item_name hex_color;
@define-color item_text hex_color;

/* Selected Result items */
@define-color item_box_selected hex_color;
@define-color item_text_selected hex_color;
@define-color item_name_selected hex_color;

/* Shortcuts */
@define-color item_shortcut_color hex_color;
@define-color item_shortcut_shadow darker(@bg_color);

/* Selected Shortcuts */
@define-color item_shortcut_color_sel hex_color;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);
/* End Color section */

.app {
    background-color: @window_bg;
    border-width: 0;
    border-top: 2px solid @window_border_color;
    border-bottom: 2px solid @window_border_color;
    border-left: 2px solid @window_border_color;
    border-right: 2px solid @window_border_color;
    border-radius: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.input {
    color: @input_color;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
}

.selected.item-box {
    background-color: alpha(@item_box_selected, 0.9);
    border-radius: 10px;
    /*opacity: 0.7;*/
}
.selected.item-box .item-text {
    color: @item_text_selected;

}
.selected.item-box .item-name {
    color: @item_name_selected;

}
.item-shortcut {
    color: @item_shortcut_color;

}
.selected.item-box .item-shortcut {
    color: @item_shortcut_color_sel;

}

.prefs-btn {
    opacity: 0.8;
}
.prefs-btn * {
    box-shadow: none;
}
.prefs-btn:hover {
    background-color: @prefs_background;
}

.no-window-shadow {
    margin: -20px;
}